$main-yellow: #ffdb00;
$main-black: #202020;
$main-gray: #535353;

@font-face {
    font-family: genjyuu-b;
    src: url(../font/GenJyuuGothic-Bold.ttf);
}

@font-face {
    font-family: genjyuu-m;
    src: url(../font/GenJyuuGothicL-Medium.ttf);
}

@font-face {
    font-family: logo-rounded;
    src: url(../font/Corporate-Logo-Rounded.ttf);
}

@font-face {
    font-family: skia;
    src: url(../font/Skia.ttf);
}


// 響應式斷點
$media-lg: 1200px;
$media-md: 992px;
$media-sm: 768px;
$media-xs: 576px;
$media-xxs: 400px;


// 學經歷區塊樣式
@mixin sectionH3 {
    font-size: 4rem;
    color: $main-yellow;
    display: block;
    position: relative;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 2px;
        height: 400px;
        background-color: $main-yellow;
        margin-top: 1rem;
        left: 2rem;

    }

    @media all and (max-width: $media-md) {
        text-align: left;

        &::after {
            display: inline-block;
            width: 400px;
            height: 2px;
            margin-top: 2.5rem;
            margin-left: 1rem;
            left: auto;

        }
    }

    @media all and (max-width: $media-sm) {
        font-size: 3.5rem;

        &::after {
            width: 250px;
            margin-top: 2.1rem;

        }
    }

    @media all and (max-width: $media-xs) {
        font-size: 3rem;

        &::after {
            width: 120px;
            margin-top: 2rem;

        }
    }

    @media all and (max-width: $media-xxs) {
        font-size: 3rem;

        &::after {
            width: 120px;
            margin-top: 2rem;

        }
    }
}

@mixin year {
    height: 2rem;

    img {
        width: 100px;
    }
}

@mixin bg-yellow {
    background-color: $main-yellow;
    display: inline-block;
    width: 15rem;
    padding: 10px 0;

    .status {
        margin-right: 10px;
        color: #fff;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    font-family: "genjyuu-m";

    &::selection {
        background: $main-yellow;
        color: #ffffff;
    }
}

// header
header {
    overflow: hidden;

    .banner {
        background-color: $main-yellow;
        height: 100vh;

        .banner-bg {
            position: relative;
            z-index: 99;
            background-image: url(../img/banner-font.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
        }
    }

}


main {


    section {
        padding: 100px 0 200px 0;

        @media all and (max-width: $media-md) {
            padding: 100px 0 50px 0;
        }
    }

    .row {
        position: relative;
    }

    .section-title {

        .h3 {
            @include sectionH3();
        }
    }

    .year {
        @include year();
    }

    .bg-yellow {
        @include bg-yellow();
        margin-bottom: 8px;
    }

    // 學經歷 #exp
    .row.exp {

        .exp-list {
            text-align: center;
            margin-bottom: 5rem;

            .exp-item {
                height: 260px;
                padding-top: 7.5rem;


                &:nth-child(3)>.year>img {
                    margin-top: 7px;

                }
            }

        }

        p {
            text-align: center;
        }

        @media all and (max-width: $media-md) {
            .exp-list {

                .exp-item {
                    height: 100%;
                    padding-top: 3.5rem;
                }
            }
        }

        @media all and (max-width: $media-xs) {

            p {
                text-align: left;
            }
        }

    }

    // 工作技能 #skill
    .row.skill {
        flex-direction: row-reverse;

        .skill-item {
            display: flex;
            padding-top: 7.5rem;

            .skill-list {

                .title {
                    font-size: 1.8rem;
                    letter-spacing: 3px;
                    margin: 0 auto;
                    background: url(../img/bottom-line-y.svg) repeat-x center bottom;
                    background-size: 1rem;
                    text-align: center;
                    width: 25rem;
                }

                .skill-icon {
                    text-align: center;
                    margin: 25px 0;

                    img {
                        width: 70px;
                        margin: 10px;
                    }
                }

                .skill-txt {
                    width: 15rem;
                    margin: 0 auto;

                    span {
                        img {
                            width: 2.3rem;
                            margin-right: .75rem;
                        }
                    }
                }

            }

            @media all and (max-width: $media-md) {
                padding-top: 4.5rem;

                .skill-list {

                    &:nth-child(2) {
                        margin-top: 2.5rem;
                    }
                }

            }

            @media all and (max-width: $media-xs) {
                padding-top: 3rem;

                .skill-list {

                    .title {
                        width: 20rem;
                    }

                    .skill-icon {

                        img {
                            width: 60px;
                        }
                    }
                }
            }

        }

    }


    // 作品集 #works
    .row.works {
        position: relative;
        margin-bottom: 100px;

        .works-list {
            padding-top: 7.5rem;

            .works-filter {
                font-size: 1.2rem;

                .works-nav {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    text-align: center;

                    li {
                        padding: 0 30px;

                        a {
                            color: $main-black;
                            text-decoration: none;
                            background: rgba(0, 0, 0, 0) linear-gradient(transparent 50%, $main-yellow 0%) repeat scroll 0 0;
                            background-size: 100% 200%;
                            background-position: 0% 0%;
                            transition: all 0.3s ease;
                            padding: 0 20px;

                            &.current,
                            &:hover {
                                background-position: 0% 50%;
                            }
                        }

                    }
                }

            }

            .my-works {
                display: flex;
                flex-flow: row;


                .work {
                    margin: 30px auto;

                    .work-item {
                        position: relative;
                        cursor: pointer;

                        &:hover {
                            .hover {
                                display: block;
                            }
                        }

                        .hover {
                            display: none;

                            .details {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background-color: #ffdb0080;
                                color: #fff;
                                display: flex;
                                flex-flow: column;
                                justify-content: center;
                                line-height: 2rem;

                                .cata {

                                    &::after {
                                        content: '';
                                        height: 1px;
                                        width: 80%;
                                        background-color: #fff;
                                        display: block;
                                        margin: 0 auto;

                                    }
                                }
                            }
                        }

                        img {
                            width: 100%;
                        }

                    }

                }
            }

            @media all and (max-width: $media-md) {
                padding-top: 3.5rem;

                .works-filter {

                    .works-nav {

                        li {
                            padding: 0 10px;

                            a {
                                padding: 0 10px;
                            }
                        }
                    }
                }

                .my-works {

                    .work {
                        margin: 10px auto;
                    }
                }
            }

            @media all and (max-width: $media-xs) {

                .works-filter {

                    .works-nav {

                        li {
                            padding: 0;
                            font-size: 1rem;
                        }
                    }
                }
            }

            @media all and (max-width: $media-xxs) {

                .works-filter {

                    .works-nav {

                        li {
                            padding: 0;
                            font-size: .75rem;
                        }
                    }
                }
            }
        }

    }

    // 聯絡我 #contact
    #contact {
        background-color: $main-yellow;
        position: relative;
        padding: 100px 0 100px 0;


        &::before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 50px 99vw;
            border-color: transparent transparent #ffdb00 transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: rgb(255, 219, 0);
            border-left-color: transparent;
            position: absolute;
            right: 0;
            top: -50px;
        }

        .row.contact {
            position: relative;
            flex-direction: row-reverse;

            .section-title {
                margin-top: -7.5rem;

                .h3 {
                    color: #fff;

                    &::after {
                        background-color: #fff;
                    }
                }
            }


            .contact-info {
                display: flex;
                justify-content: space-around;

                .info {
                    color: #fff;
                    font-size: 1.2rem;
                    margin-top: 2rem;

                    .name {
                        background: url(../img/bottom-line-w.svg) repeat-x center bottom;
                        background-size: .75rem;
                        width: 20rem;
                        margin-bottom: 2rem;

                        .cht-name {
                            font-size: 3rem;
                            letter-spacing: 3px;
                            margin: 0 auto;
                        }
                    }

                    a {
                        color: #fff;
                    }

                    ul {
                        line-height: 4rem;

                        li {
                            img {
                                width: 2.5rem;
                                margin-right: .75rem;
                            }
                        }
                    }
                }


                .contact-img {
                    img {
                        width: 100%;
                    }
                }
            }

            @media all and (max-width: $media-md) {
                .section-title {
                    margin-top: -2.5rem;
                }

                .contact-info {
                    .info {
                        .name {
                            width: 17rem;
                            margin-bottom: 1rem;
                            background-size: .6rem;

                            .cht-name {
                                font-size: 2.4rem;
                                letter-spacing: 0px;
                            }
                        }

                    }

                }
            }

            @media all and (max-width: $media-sm) {

                .contact-info {
                    .info {

                        .name {
                            width: 15rem;
                            background-size: .5rem;
                        }

                    }

                }
            }

            @media all and (max-width: $media-xs) {

                .contact-info {
                    .info {
                        .name {
                            width: 12rem;

                        }

                    }

                }

                .contact-info {
                    .info {
                        .name {

                            .cht-name {
                                font-size: 1.8rem;
                            }
                        }

                    }

                }
            }
        }

    }

}

footer {
    background-color: $main-yellow;
    color: #fff;
}

// Modal
.portfolio-modal {
    padding-right: 0 !important;

    img {
        margin-bottom: 30px;
    }

    a {
        text-decoration: none;
    }
    
    .center {
        text-align: center;
        margin: 0 auto;
    }

    .modal-dialog {
        margin: 1rem;
        max-width: 100vw;

        .modal-content {
            padding: 100px 0;
            text-align: center;

            .close-modal {
                position: absolute;
                top: 20px;
                right: 20px;
                height: 50px;
                width: 50px;
                z-index: 999;
                cursor: pointer;

                .menu-line {
                    display: block;
                    width: 100%;
                    height: 4px;
                    border-radius: 4px;
                    background-color: $main-yellow;
                    margin-top: 12px;
                    transition: all 0.3s ease-in-out;

                    &.line-1 {
                        transform: translateY(16px) rotate(45deg);
                    }

                    &.line-3 {
                        transform: translateY(0) rotate(-45deg);
                    }
                }

                &:hover {

                    .menu-line {
                        background-color: #cfcfcf;

                        &.line-1 {
                            transform: translateY(16px) rotate(180deg);
                        }

                        &.line-3 {
                            transform: translateY(0) rotate(-180deg);
                        }
                    }
                }
            }

            .modal-body {

                .modal-title {
                    margin-bottom: 80px;

                    h2 {
                        font-size: 3em;
                        color: $main-black;
                        text-align: center;
                        margin: 0 auto;

                        &::before {
                            content: '{';
                            color: $main-yellow;
                            padding-right: 12px;
                        }

                        &::after {
                            content: '}';
                            color: $main-yellow;
                            padding-left: 12px;
                        }
                    }


                    p {
                        margin-bottom: 30px;

                        &.item-intro {
                            font-size: 16px;
                            margin: 20px 0 30px;
                            color: $main-gray;
                        }
                    }

                }

                .demo-link {
                    background-color: $main-yellow;
                    border: 3px solid $main-yellow;
                    color: #fff;
                    padding: 20px;
                    margin: -20px 0 30px;
                    font-size: 1.2rem;
                    transition: all 0.3s ease-in-out;

                    i {
                        margin-left: 20px;
                    }

                    &:hover {
                        background-color: #fff;
                        color: $main-gray;
                    }
                }


                .modal-flex {
                    text-align: center;

                    .row {
                        justify-content: center;
                    }
                }

                .modal-footer {
                    border-top: 0;
                    justify-content: center;
                    margin-top: 30px;
                    cursor: pointer;

                    .menu-line {
                        width: 3rem;
                        height: 4px;
                        border-radius: 4px;
                        background-color: #cfcfcf;
                        margin-top: 12px;
                        transition: all 0.3s ease-in-out;


                        &.line-1 {
                            transform: translateX(27px) rotate(45deg);
                        }

                        &.line-3 {
                            transform: translateX(-27px) rotate(-45deg);
                        }
                    }

                    &:hover {

                        .menu-line {
                            background-color: $main-yellow;

                            &.line-1 {
                                transform: translateX(27px) rotate(180deg);
                            }

                            &.line-3 {
                                transform: translateX(-27px) rotate(-180deg);
                            }
                        }
                    }
                }

                img {
                    padding: 10px;
                    border: 1px solid #f5f5f5;
                }

                .mb30 {
                    margin-bottom: 30px;
                }

                .mr10 {
                    margin-right: 80px;
                }

                .p10 {
                    padding: 10px;
                }
            }

            @media all and (max-width: $media-sm) {
                .modal-body {

                    .modal-title {

                        h2 {
                            font-size: 2rem;
                        }
                    }
                }
            }

            @media all and (max-width: $media-xs) {
                .modal-body {

                    .modal-title {

                        h2 {
                            font-size: 1.6rem;
                        }
                    }
                }
            }

        }
    }
}