@font-face {
  font-family: genjyuu-b;
  src: url(../font/GenJyuuGothic-Bold.ttf);
}

@font-face {
  font-family: genjyuu-m;
  src: url(../font/GenJyuuGothicL-Medium.ttf);
}

@font-face {
  font-family: logo-rounded;
  src: url(../font/Corporate-Logo-Rounded.ttf);
}

@font-face {
  font-family: skia;
  src: url(../font/Skia.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  list-style: none;
  font-family: "genjyuu-m";
}

*::-moz-selection {
  background: #ffdb00;
  color: #ffffff;
}

*::selection {
  background: #ffdb00;
  color: #ffffff;
}

header {
  position: relative;
}

header .menu {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 50px;
  width: 50px;
  z-index: 999;
  cursor: pointer;
}

header .menu .menu-line {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #ffdb00;
  margin-bottom: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .menu .menu-line .menu-line.line-1 {
  -webkit-transform: translateY(12px) rotate(45deg);
          transform: translateY(12px) rotate(45deg);
}

header .menu .menu-line .menu-line.line-2 {
  opacity: 0;
}

header .menu .menu-line .menu-line.line-3 {
  -webkit-transform: translateY(-12px) rotate(-45deg);
          transform: translateY(-12px) rotate(-45deg);
}

header .menu.active .menu-line.line-1 {
  -webkit-transform: translateY(16px) rotate(45deg);
          transform: translateY(16px) rotate(45deg);
}

header .menu.active .menu-line.line-2 {
  opacity: 0;
}

header .menu.active .menu-line.line-3 {
  -webkit-transform: translateY(-16px) rotate(-45deg);
          transform: translateY(-16px) rotate(-45deg);
}

header .banner {
  position: relative;
}

header .banner .banner-title {
  position: absolute;
  right: 30px;
  bottom: 6rem;
  text-align: center;
}

@media all and (max-width: 992px) {
  header .banner .banner-title {
    bottom: 3rem;
  }
}

@media all and (max-width: 768px) {
  header .banner .banner-title {
    bottom: 1rem;
  }
  header .banner .banner-title p {
    margin-bottom: .75rem;
  }
}

header .banner .banner-bg img {
  width: 100%;
}

header .banner .cht-name {
  width: 25vw;
}

header .banner .cht-name img {
  width: 100%;
}

header .banner .eng-name {
  width: 25vw;
}

header .banner .eng-name img {
  width: 100%;
}

header .banner .job-title {
  width: 25vw;
}

header .banner .job-title img {
  width: 100%;
}

main section {
  padding: 100px 0 200px 0;
}

@media all and (max-width: 992px) {
  main section {
    padding: 100px 0 50px 0;
  }
}

main .row {
  position: relative;
}

main .section-title .h3 {
  font-size: 4rem;
  color: #ffdb00;
  display: block;
  position: relative;
  text-align: center;
}

main .section-title .h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  height: 400px;
  background-color: #ffdb00;
  margin-top: 1rem;
  left: 2rem;
}

@media all and (max-width: 992px) {
  main .section-title .h3 {
    text-align: left;
  }
  main .section-title .h3::after {
    display: inline-block;
    width: 400px;
    height: 2px;
    margin-top: 2.5rem;
    margin-left: 1rem;
    left: auto;
  }
}

@media all and (max-width: 768px) {
  main .section-title .h3 {
    font-size: 3.5rem;
  }
  main .section-title .h3::after {
    width: 250px;
    margin-top: 2.1rem;
  }
}

@media all and (max-width: 576px) {
  main .section-title .h3 {
    font-size: 3rem;
  }
  main .section-title .h3::after {
    width: 120px;
    margin-top: 2rem;
  }
}

main .year {
  height: 2rem;
}

main .year img {
  width: 100px;
}

main .bg-yellow {
  background-color: #ffdb00;
  display: inline-block;
  width: 15rem;
  padding: 10px 0;
  margin-bottom: 8px;
}

main .bg-yellow .status {
  margin-right: 10px;
  color: #fff;
}

main .row.exp .exp-list {
  text-align: center;
  margin-bottom: 5rem;
}

main .row.exp .exp-list .exp-item {
  height: 260px;
  padding-top: 7.5rem;
}

main .row.exp .exp-list .exp-item:nth-child(3) > .year > img {
  margin-top: 7px;
}

main .row.exp p {
  text-align: center;
}

@media all and (max-width: 992px) {
  main .row.exp .exp-list .exp-item {
    height: 100%;
    padding-top: 3.5rem;
  }
}

@media all and (max-width: 576px) {
  main .row.exp p {
    text-align: left;
  }
}

main .row.skill {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .row.skill .skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7.5rem;
}

main .row.skill .skill-item .skill-list .title {
  font-size: 1.8rem;
  letter-spacing: 3px;
  margin: 0 auto;
  background: url(../img/bottom-line-y.svg) repeat-x center bottom;
  background-size: 1rem;
  text-align: center;
  width: 25rem;
}

main .row.skill .skill-item .skill-list .skill-icon {
  text-align: center;
  margin: 25px 0;
}

main .row.skill .skill-item .skill-list .skill-icon img {
  width: 70px;
  margin: 10px;
}

main .row.skill .skill-item .skill-list .skill-txt {
  width: 15rem;
  margin: 0 auto;
}

main .row.skill .skill-item .skill-list .skill-txt span img {
  width: 2.3rem;
  margin-right: .75rem;
}

@media all and (max-width: 992px) {
  main .row.skill .skill-item {
    padding-top: 4.5rem;
  }
  main .row.skill .skill-item .skill-list:nth-child(2) {
    margin-top: 2.5rem;
  }
}

@media all and (max-width: 576px) {
  main .row.skill .skill-item {
    padding-top: 3rem;
  }
  main .row.skill .skill-item .skill-list .title {
    width: 20rem;
  }
  main .row.skill .skill-item .skill-list .skill-icon img {
    width: 60px;
  }
}

main .row.works {
  position: relative;
  margin-bottom: 100px;
}

main .row.works .works-list {
  padding-top: 7.5rem;
}

main .row.works .works-list .works-filter {
  font-size: 1.2rem;
}

main .row.works .works-list .works-filter .works-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

main .row.works .works-list .works-filter .works-nav li {
  padding: 0 30px;
}

main .row.works .works-list .works-filter .works-nav li a {
  color: #202020;
  text-decoration: none;
  background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(0%, #ffdb00)) repeat scroll 0 0;
  background: rgba(0, 0, 0, 0) linear-gradient(transparent 50%, #ffdb00 0%) repeat scroll 0 0;
  background-size: 100% 200%;
  background-position: 0% 0%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 20px;
}

main .row.works .works-list .works-filter .works-nav li a.current, main .row.works .works-list .works-filter .works-nav li a:hover {
  background-position: 0% 50%;
}

main .row.works .works-list .my-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

main .row.works .works-list .my-works .work {
  margin: 30px auto;
}

main .row.works .works-list .my-works .work .work-item {
  position: relative;
}

main .row.works .works-list .my-works .work .work-item:hover .hover {
  display: block;
}

main .row.works .works-list .my-works .work .work-item .hover {
  display: none;
}

main .row.works .works-list .my-works .work .work-item .hover .details {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffdb0080;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2rem;
}

main .row.works .works-list .my-works .work .work-item .hover .details .cata::after {
  content: '';
  height: 1px;
  width: 80%;
  background-color: #fff;
  display: block;
  margin: 0 auto;
}

main .row.works .works-list .my-works .work .work-item img {
  width: 100%;
}

@media all and (max-width: 992px) {
  main .row.works .works-list {
    padding-top: 3.5rem;
  }
  main .row.works .works-list .works-filter .works-nav li {
    padding: 0 10px;
  }
  main .row.works .works-list .works-filter .works-nav li a {
    padding: 0 10px;
  }
  main .row.works .works-list .my-works .work {
    margin: 10px auto;
  }
}

@media all and (max-width: 576px) {
  main .row.works .works-list .works-filter .works-nav li {
    padding: 0;
    font-size: 1rem;
  }
}

@media all and (max-width: 400px) {
  main .row.works .works-list .works-filter .works-nav li {
    padding: 0;
    font-size: .75rem;
  }
}

main #contact {
  background-color: #ffdb00;
  position: relative;
  padding: 100px 0 100px 0;
}

main #contact::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 99vw;
  border-color: transparent transparent #ffdb00 transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #ffdb00;
  border-left-color: transparent;
  position: absolute;
  right: 0;
  top: -50px;
}

main #contact .row.contact {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main #contact .row.contact .section-title {
  margin-top: -7.5rem;
}

main #contact .row.contact .section-title .h3 {
  color: #fff;
}

main #contact .row.contact .section-title .h3::after {
  background-color: #fff;
}

main #contact .row.contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #contact .row.contact .contact-info .info {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 2rem;
}

main #contact .row.contact .contact-info .info .name {
  background: url(../img/bottom-line-w.svg) repeat-x center bottom;
  background-size: .75rem;
  width: 20rem;
  margin-bottom: 2rem;
}

main #contact .row.contact .contact-info .info .name .cht-name {
  font-size: 3rem;
  letter-spacing: 3px;
  margin: 0 auto;
}

main #contact .row.contact .contact-info .info a {
  color: #fff;
}

main #contact .row.contact .contact-info .info ul {
  line-height: 4rem;
}

main #contact .row.contact .contact-info .info ul li img {
  width: 2.5rem;
  margin-right: .75rem;
}

main #contact .row.contact .contact-info .contact-img img {
  width: 100%;
}

@media all and (max-width: 992px) {
  main #contact .row.contact .section-title {
    margin-top: -2.5rem;
  }
  main #contact .row.contact .contact-info .info .name {
    width: 17rem;
    margin-bottom: 1rem;
    background-size: .6rem;
  }
  main #contact .row.contact .contact-info .info .name .cht-name {
    font-size: 2.4rem;
    letter-spacing: 0px;
  }
}

@media all and (max-width: 768px) {
  main #contact .row.contact .contact-info .info .name {
    width: 15rem;
    background-size: .5rem;
  }
}

@media all and (max-width: 576px) {
  main #contact .row.contact .contact-info .info .name {
    width: 12rem;
  }
  main #contact .row.contact .contact-info .info .name .cht-name {
    font-size: 1.8rem;
  }
}

footer {
  background-color: #ffdb00;
  color: #fff;
}

#back-to-top {
  background: #ffdb00;
  right: 10px;
  bottom: 10px;
  z-index: 9;
  width: 40px;
  height: 40px;
  font-size: 11px;
  text-align: center;
  line-height: 3;
  letter-spacing: 1px;
  border-radius: 50%;
  padding: 2px;
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

#back-to-top:hover {
  color: #fff;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
/*# sourceMappingURL=style.css.map */